:host {
    font-family: sans-serif;
}

table {
    width: 100%;
}

thead th {
    text-align: left;
    background-color: navy;
    color: white;
}

.striped-row {
    background-color: #eee;
}

.empty {
    color: orangered;
    font-size: 2rem;
    text-align: center;
}
