<h1>Persons</h1>
<button (click)="toggle()">
    Toggle List | Empty
</button>
<table *ngIf="persons; else empty">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of persons; let row=index; let odd=odd"
            [ngClass]="{'striped-row': odd}">
            <td>{{row + 1}}</td>
            <td>{{p.first_name}}</td>
            <td>{{p.last_name}}</td>
            <td>{{p.email}}</td>
        </tr>
    </tbody>
</table>
<ng-template #empty>
    <p class="empty">
        No persons here !!
    </p>
</ng-template>
