<h1>Single Product</h1>

<table *ngIf="product">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name|titlecase }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price | currency:'GBP':'symbol' }}</td>
        </tr>
    </tbody>
</table>
