table {
    tr > * {
        text-align: left;
        padding: .15em .5em;
    }

    tbody {
        tr:hover {
            background-color: #eee;
        }
    }

    th:nth-child(5), td:nth-child(5) {
        text-align: right;
    }

    button + button {
        margin-left: 1em;
    }
}
