<h1>Products ng App</h1>

<ng-container *ngIf="product">
    <h2>Product</h2>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Car Maker</th>
                <td>
                    <editable-text [name]="'maker'" [value]="product.maker"
                                   (updated)="save(product.id, $event)"
                    ></editable-text>
                </td>
            </tr>
            <tr>
                <th>Car Model</th>
                <td>
                    <editable-text [name]="'model'" [value]="product.model"
                                   (updated)="save(product.id, $event)"
                    ></editable-text>
                </td>
            </tr>
            <tr>
                <th>Car Product Year</th>
                <td>
                    <editable-number [name]="'year'" [value]="product.year"
                                     (updated)="save(product.id, $event)"
                    ></editable-number>
                </td>
            </tr>
            <tr>
                <th>Price</th>
                <td>
                    <editable-number [name]="'price'" [value]="product.price"
                                     (updated)="save(product.id, $event)"
                    ></editable-number>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button (click)="clear()">Cancel</button>
                    <button (click)="remove(product.id)">Remove</button>
                </td>
            </tr>
        </tfoot>
    </table>
</ng-container>

<ng-container *ngIf="products">
    <h2>List of Products</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Maker</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Show</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of products; let row=index; let odd=odd;">
                <td>{{ p.id }}</td>
                <td>{{ p.maker}}</td>
                <td>{{ p.model }}</td>
                <td>{{ p.year }}</td>
                <td>{{ p.price | currency:'GBP':'symbol':'1.0-0' }}</td>
                <td>
                    <button (click)="show(p.id)">Show</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
