<ng-container *ngIf="editing">
    <input type="text" [(ngModel)]="editableValue" (keyup)="onKeyUp($event)">
</ng-container>

<ng-container *ngIf="!editing">
    <span *ngIf="!empty" (click)="edit()">{{propertyValue}}</span>
    <span *ngIf="empty" (click)="edit()" class="hint">{{hint}}</span>
</ng-container>
