<h1>Font Sizing</h1>

<!--[value]="fontSize" (valueChange)="fontSize = $event"-->
<!--[(value)]="fontSize"-->
<number-stepper
        [(value)]="fontSize"
        [min]="10" [max]="40"
></number-stepper>
<input type="range" name="fsz" id="fsz" [(ngModel)]="fontSize">

<p [ngStyle]="{'font-size.pt': fontSize}">
    {{text}}
</p>
