<h1>
    Date + Offset App
</h1>

<table>
    <tbody>
        <tr>
            <th>Date</th>
            <td>
                <input type="date"
                       [ngModel]="toISO(today)"
                       (ngModelChange)="today = fromISO($event)">
            </td>
        </tr>
        <tr>
            <th>Offset</th>
            <td>
                <input type="range" [(ngModel)]="offset" [min]="1" [max]="42">
                ({{offset}})
            </td>
        </tr>
        <tr>
            <th>Result</th>
            <td>
                {{nextDate | date:'yyyy-MM-dd'}}
            </td>
        </tr>
    </tbody>
</table>
