<h1>Router Demo</h1>

<nav>
    <ul>
        <li *ngFor="let link of navbar">
            <a [routerLink]="link.uri" [routerLinkActive]="'current-page'">{{link.text}}</a>
        </li>
    </ul>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
