.current-page {
    background-color: dodgerblue;
    color: white;
}

ul {
    list-style-type: none;
}

li {

}

li a {
    display: inline-block;
    text-decoration: none;
    padding: .1em .5em;
}

li a:hover {
    background-color: orangered;
    color: white;
}
