<h1>Using ngSwitch Demo</h1>

<div class="expense">
    <h3>{{expense.date | date:'medium'}}</h3>
    <p class="amount">Amount: {{expense.amount | currency:'GBP':'symbol'}}</p>
    <p class="type" [ngSwitch]="expense.type">
        <span *ngSwitchCase="'lodging'">
            Hotel: {{expense.hotel}}
        </span>
        <span *ngSwitchCase="'travel'">
            Fligth: {{expense.flight}}
        </span>
        <span *ngSwitchCase="'meal'">
            Restaurant: {{expense.restaurant}}
        </span>
        <span *ngSwitchDefault>
            Invalid expanse type
        </span>
    </p>
</div>

<div>
    <hr>
    <button (click)="toggle()">Next Expense</button>
</div>


