<h1>Products</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Storage</th>
            <th>Service</th>
            <th>Updated</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.name | titlecase | slice:0:5}}</td>
            <td>{{p.price | kr:true }}</td>
            <td>{{p.itemsInStore | number:'1.0-0'}}</td>
            <td>{{p.isService ? 'Yes' : ''}}</td>
            <td>{{p.lastUpdated | date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
    </tbody>
</table>
