table {
    width: 100%;
}

th:nth-child(1), td:nth-child(1) {
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    text-align: right;
}

th:nth-child(3), td:nth-child(3) {
    text-align: center;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center;
}

th:nth-child(5), td:nth-child(5) {
    text-align: right;
}

tbody tr:hover {
    background-color: #eee;
}

