<h1>
    Products
</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
<!--        <tr *ngFor="let p of dao.all(); let row=index;" [routerLink]="['/product', p.id]">-->
<!--        <tr *ngFor="let p of dao.all(); let row=index;" (click)="gotoPage(p.id)">-->
        <tr *ngFor="let p of dao.all(); let row=index;" (click)="gotoPage2(p)">
            <td>{{ p.id }}</td>
            <td>{{ p.name | titlecase }}</td>
            <td>{{ p.price | currency:'GBP':'symbol':'1.0-0' }}</td>
        </tr>
    </tbody>
</table>
